:host {
  width: 100%;
  display: grid;
  height: 100%;
  gap: 50px;
  grid-template-rows: 2fr 1fr 4fr;
  app-text {
    justify-self: center;
    width: 80%;
  }
  app-input {
    justify-self: center;
    width: 60%;
  }
  app-keyboard {
    justify-self: center;
    width: 100%;
  }
}
