.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  //   justify-content: center;
  form {
    width: 80%;
    gap: 3%;
    height: 100%;
    // align-items: center;
    display: flex;
    flex-direction: column;
    .form-group {
      display: grid;
      width: 100%;
      gap: 40px;
      grid-template-columns: 150px auto;
      label {
        // align-self: flex-end;
        justify-self: flex-end;
        font-size: 1.2rem;
        color: var(--light-color);
      }
      input {
        min-height: 40px;
      }
    }
  }
}
