@if (!showModal) {
<div class="wrapper">
  <app-text> </app-text>
  <app-input> </app-input>
  <app-keyboard> </app-keyboard>
</div>
} @else {
<h3 style="color: var(--light-color)">ПОЗДРАВЛЯЕМ! ВАШ РЕЗУЛЬТАТ</h3>
<div class="result-modal">
  <div class="result-modal__totalWords">
    Количество правильных слов - {{ userResult?.totalWords }}
  </div>
  <div class="result-modal__wordsPerMinute">
    Количество слов в секунду - {{ userResult?.wordsPerMinute }}
  </div>
</div>
<button (click)="hideModal()">ПОПРОБОВАТЬ ЕЩЕ РАЗ</button>
}
