<nav class="list-wrapper">
  <div
    routerLink="/trainer"
    class="list-item"
    (click)="selectItem('start')"
    [ngClass]="{ active: selectedItem === 'start' }"
  >
    ПРОЙТИ ТЕСТ
  </div>
  <div
    routerLink="/results"
    class="list-item"
    (click)="selectItem('results')"
    [ngClass]="{ active: selectedItem === 'results' }"
  >
    РЕЗУЛЬТАТЫ
  </div>
  <div
    routerLink="/custom"
    class="list-item"
    (click)="selectItem('createTest')"
    [ngClass]="{ active: selectedItem === 'createTest' }"
  >
    ДОБАВИТЬ ТЕКСТ
  </div>
  <div
    routerLink="/settings"
    class="list-item"
    (click)="selectItem('settings')"
    [ngClass]="{ active: selectedItem === 'settings' }"
  >
    НАСТРОЙКИ
  </div>
  <div
    routerLink="/"
    class="list-item"
    (click)="selectItem('')"
    [ngClass]="{ active: selectedItem === '' }"
  >
    ВОЙТИ
  </div>
</nav>
