<div class="form-wrapper">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Название</label>
      <input type="text" name="" id="name" formControlName="name" />
    </div>
    <div class="form-group">
      <label for="name">Описание</label>
      <textarea name="" id="" rows="3" formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label for="name">Текст</label>
      <textarea name="" id="" rows="13" formControlName="text"></textarea>
    </div>
  </form>
</div>
