<nav class="list-wrapper">
  <div
    class="list-item"
    (click)="selectItem('start')"
    [ngClass]="{ active: selectedItem === 'start' }"
  >
    ПРОЙТИ ТЕСТ
  </div>
  <div
    class="list-item"
    (click)="selectItem('results')"
    [ngClass]="{ active: selectedItem === 'results' }"
  >
    РЕЗУЛЬТАТЫ
  </div>
  <div
    class="list-item"
    (click)="selectItem('createTest')"
    [ngClass]="{ active: selectedItem === 'createTest' }"
  >
    ДОБАВИТЬ ТЕКСТ
  </div>
  <div
    class="list-item"
    (click)="selectItem('settings')"
    [ngClass]="{ active: selectedItem === 'settings' }"
  >
    НАСТРОЙКИ
  </div>
  <div
    class="list-item"
    (click)="selectItem('login')"
    [ngClass]="{ active: selectedItem === 'login' }"
  >
    ВОЙТИ
  </div>
</nav>
